
  </body>

  <footer>     &copy <a href="https://shriyanshgaur.github.io/SHRIYANSH-GAUR-web.github.io/"> Shriyansh Gaur</a> </footer>
  <footer>      <a href="https://www.google.com/url?q=https%3A%2F%2Fmorning-castle-64828.herokuapp.com"> SIGN-UP to my NEWSLETTER</a> </footer>
  <footer>      <a href="https://shriyansh-gaur.github.io/RocPaperScissor/"> PLAY A GAME !</a> </footer>




    <footer><p7>   background-img &copy wallpaperacess.com  </p7> </footer>




</html>
